:root {
    --primario: #e9ecef;
    --primarioOscuro: #89119D;
    --secundario: #1b1b1a;
    --secundarioOscuro: rgb(233, 187, 2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Berkshire Swash', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    text-overflow: ellipsis;
}

a:hover{
    color:#6b6a6d;
}

body {
    /* background-image: linear-gradient(to top, rgb(103, 102, 109) 0%,rgb(183, 183, 187) 100%); */
    background-color:var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
    height: 100%;
    /* min-height: 1000px; */
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
a{
    font-family: var(--fuentePrincipal);
    color: var(--secundario);
}

.navbar{
    /* position: relative !important; */
}

.producto__nombre {
    font-size: 3rem;
}
.producto__precio {
    font-size: 1.8rem;
    color: var(--secundario);
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1;
}

.producto__imagenn{
    background-image: url(/img/grafico1.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}

.album{
    max-width: 100rem;

}



